@font-face {
  font-family: 'Gotham Bold';
  font-weight: 600;
  font-style: normal;
  src:
    local('Gotham Bold'),
    url('./fonts/Gotham Bold.otf') format('OpenType');
}

@font-face {
  font-family: 'Gotham Book';
  font-weight: 400;
  font-style: normal;
  src:
    local('Gotham Book'),
    url('./fonts/Gotham Book.otf') format('OpenType');
}
